@model InvoiceApplication.Models.PDFViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
</head>
<body>
    <div>
        <p>Uploaded PDF Text:</p>
        <div>
            @Model.Data
        </div>
    </div>
</body>
</html>