<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
</head>
<body>
    <div>
        <p>Uploaded PDF Text:</p>
        <pre>
            @ViewBag.GivenText
        </pre>
    </div>
</body>
</html>